<div id="pager" class="container">
  <div class="row">
    <div class="col text-center">
      {% if paginator.next_page %}
        <a class="btn btn-primary" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}/">&larr;&nbsp;Older posts</a>
      {% else %}
        <a class="disabled btn btn-primary">&larr;&nbsp;Older posts</a>
      {% endif %}

      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/blog/">Newer posts&nbsp;&rarr;</a>
        {% else %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}/">Newer posts&nbsp;&rarr;</a>
        {% endif %}
      {% else %}
        <a class="disabled btn btn-primary">Newer posts&nbsp;&rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
