#posts {
  a {
    text-decoration: none;
    &:hover {
      color: $info;
    }
  }
}


p.post-info {
  margin-bottom: .5rem !important;
}
.post-info {
    color: #716161 !important;
}

h2.post-title {
  margin-top: 1.2rem;
}
